.password-reset-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 1rem;
  background-color: #f4f4f4;
  text-align: center;

  h2 {
    font-size: 2rem;
    color: #4fafff;
    margin-bottom: 1.5rem;
  }

  .form-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    margin-bottom: 1rem;

    label {
      font-size: 1rem;
      color: #333;
      margin-bottom: 0.5rem;
    }

    input {
      padding: 0.8rem;
      font-size: 1rem;
      border: 1px solid #ccc;
      border-radius: 4px;
      width: 100%;
    }
  }

  .btn-submit {
    padding: 0.8rem 1.5rem;
    background-color: #4fafff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #3e8cc1;
    }
  }

   .success-message{
      color: green;  
      font-size: 1.2em;
      margin-top: 15px;
   }

   .error-message {
      color: red; 
   }

}
